/*==========================================================================
                            APP THEME CSS
==========================================================================*/

body {
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: blanchedalmond;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

/*==========================================================================
                            GAME CONTAINER CSS
==========================================================================*/

.gameHeader {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  border: 8px double black;
  animation: pulse 1s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    }

  50% {
    transform: scale(1.05);
    }

  100% {
    transform: scale(1);
    }
  }

.myContainer {
  background-color: blanchedalmond;
}
/*==========================================================================
                            HOME CSS
==========================================================================*/
.HomeFlexBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playerFormFlexBox {
  align-self: center;
  margin-top: 30px;
}

.gameStartButton {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.addPlayerButton {
  background-color: blue;
  color: white;
}
/*==========================================================================
                              Question CSS
==========================================================================*/

.AlertSuccess {
  background-color: 	#98FB98;
}

.AlertItemsFlexBox {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
}

.AlertButton {
  align-self: flex-end;
}

.Alert {
  display: flex;
  justify-content: space-between;;
  align-content: flex-start;
  width: 100%;
  border-radius: 10%;
  border: 2px outset black;
}

.answerList {
  list-style-type: upper-alpha;
}

.answerText {
  margin-left: 10px;
}
